.firstSection {
  display: flex;
  justify-content: center;
  align-items: center;

  .addBtn:hover {
    background-color: #bbb;
  }

  .firstPart {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 33px;

    .input {
      width: 158px;
      height: 27px;
    }

    label {
      display: inline-block;
      width: 70px;
      text-align: right;
      margin-right: 22px;
    }

    span {
      display: inline;
      border: 1px solid #5a5a5a;
      border-radius: 2px;
      background-color: #ebebeb;
      text-align: center;
      margin-left: 24px;
      padding-top: 6px;
      padding-bottom: 8px;
      padding-right: 45px;
      padding-left: 45px;
    }
  }
}

hr.solid {
  border-top: 3px solid #000;
  width: 31%;
}

.searchBar {
  display: flex;
  margin: 0 auto;
  border: 5px solid #c9c9ce;
  width: 30%;
  height: 28px;

  .fa-search {
    margin: 5px;
    color: #c9c9ce;
  }

  #tsearch {
    border: none;
    outline: none;
    width: 100%;
  }
}

.secondSection {
  margin-top: 20px;

  #toDoList {
    display: block;

    div {
      position: relative;
      border: 1px solid #000;
      margin: 0 auto;
      width: 30.5%;
      height: 95px;
      margin-bottom: 25px;

      p {
        display: inline-block;

        margin: 15px;
        width: 50%;
      }

      .fa-trash {
        position: absolute;
        right: 5px;
        top: 5px;
        margin: 15px;
      }

      .fa-check-circle {
        position: absolute;
        right: 5px;
        bottom: 5px;
        margin: 15px;
      }
    }
  }
}

.thirdSection {
  display: block;
  padding-bottom: 50px;
  .countLabels {
    position: relative;
    margin: 0 auto;
    width: 30.5%;
    .span1 {
      position: absolute;
      right: 120px;
    }
    .span2 {
      position: absolute;
      right: 10px;
    }
   

  }
  .countNumbers {
    position: relative;
    margin: 0 auto;
    width: 30.5%;
    #span3 {
      position: absolute;
      right: 135px;
      top:50px;
    }
    #span4 {
      position: absolute;
      top:50px;
      right: 25px;
    }
  }

}